gunicorn
gevent
flask
flask-socketio
flask-login
flask-sqlalchemy
requests
python-whois
dnspython
beautifulsoup4
phonenumbers
python-nmap
Pillow
python-docx
PyPDF2
weasyprint
cryptography
selenium  # (si besoin pour certains scraps, à utiliser avec headless)
